.estudiantes-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .estudiantes-title {
    margin-bottom: 20px;
  }
  
  .estudiantes-item {
    margin-bottom: 10px;
  }
  
  .estudiantes-button {
    margin-top: 20px;
  }
  